# Data Analysis with Pandas

## bike-stats

## Auther : Roaa Mustafa

## Date : 9 Aug 2021

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./trip.csv',error_bad_lines=False)
df.head()

/home/roaa/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

## Q1: What is the average trip duration for a borrowed bicycle?

## Q2:What’s the most common age of a bicycle-sharer?

## Q3: Given all the weather data here, find the average precipitation per month, and the median precipitation.

## Q4: What’s the average number of bikes at a given bike station?

##  Q5: When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

## Q6: Come up with 3 more questions that can be answered with this data set.