# Data Analysis with Pandas

## bike-stats

## Auther : Roaa Mustafa

## Date : 9 Aug 2021

In [4]:
import pandas as pd

In [27]:
df_weather=pd.read_csv('./weather.csv')
df_station=pd.read_csv('./station.csv')

In [5]:
df = pd.read_csv('./trip.csv',error_bad_lines=False)
df.head()

/home/roaa/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

## Q1: What is the average trip duration for a borrowed bicycle?

In [8]:
trip_average=df["tripduration"].mean()
print(f"The average-------->>{trip_average}")

The average-------->>1178.2956753399776

## Q2:What’s the most common age of a bicycle-sharer?

In [63]:
common_age= 2021-df.birthyear.mode()[0]
print(f" The common age---->{common_age}")

 The common age---->34.0

## Q3: Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [69]:
median_precipitation=df_weather["Precipitation_In"].median()
mean_precipitation=df_weather["Precipitation_In"].mean()*30
tuple_precipitation= (median_precipitation,mean_precipitation)

print(f"the median of precipitationdn is {median_precipitationd} and the average is {mean_precipitationdn}")

the median of precipitationdn is 0.0 and the average is 3.1519593613933234

## Q4: What’s the average number of bikes at a given bike station?

In [56]:
bike_station = round(df_station['install_dockcount'].mean())
print(f"---->> {bike_station}")

---->> 18

##  Q5: When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [36]:
# using dropna() method to remove missing values
bike_station__modified = df_station[['modification_date','install_dockcount','current_dockcount']].dropna()
current_place = bike_station__modified['current_dockcount'].sum()
new_place = bike_station__modified['install_dockcount'].sum()
result=current_place - new_place
# when negative tha mean it will lose bikes
print(f" when negative tha mean it will lose bikes {result}")

 when negative tha mean it will lose bikes -64

## Q6: Come up with 3 more questions that can be answered with this data set.

In [40]:
# The the max 3 temperature ?
max_temmp = df_weather.sort_values("Max_Temperature_F",ascending=True).head(3)
max_temmp

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
78,12/30/2014,39,34.0,30,24,17,14,73,51,35,...,30.81,30.75,10,10,10,6,1,-,0.00,NaN
448,1/4/2016,39,38.0,37,34,33,32,87,83,76,...,29.77,29.67,10,6,2,8,1,NaN,0.07,Rain
412,11/29/2015,39,34.0,30,34,31,25,93,87,79,...,30.21,30.16,3,1,0,7,2,NaN,0.00,Fog

In [41]:
# what is the  three minimum  temperature ?
min_temmp = df_weather.sort_values("Min_TemperatureF",ascending=True).head(3)
min_temmp

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
446,1/2/2016,44,34.0,23,30,23,13,96,73,33,...,30.19,30.11,10,9,6,8,2,NaN,0.0,NaN
445,1/1/2016,44,34.0,25,30,25,21,92,76,43,...,30.38,30.27,10,10,6,5,1,NaN,0.0,NaN
411,11/28/2015,46,36.0,26,31,26,21,86,75,50,...,30.29,30.22,10,8,2,6,1,NaN,0.0,Snow

In [54]:
## What is the median trip duration for a borrowed bicycle?¶
trip_duration=df['tripduration'].median()
trip_duration

624.842

## Tests

In [71]:

def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_average, 1178.2956753399776)
    assert_equal(common_age, 34.0)
    assert_equal(tuple_precipitation, ( 0.0,3.1519593613933234))
    assert_equal(bike_station, 18)
    assert_equal(result, -64)
    assert_equal(max_temmp.iloc[0].Max_Temperature_F, 39)
    assert_equal(min_temmp.iloc[0].Min_TemperatureF	,23)
    assert_equal(trip_duration, 624.842)

    print("Success!!!")

test()

Success!!!