# Data Analysis with Pandas

## vg-stats

## Auther :Roaa

## Date :9 Aug 2021

In [117]:
import pandas as pd

In [118]:
df = pd.read_csv('./vgsales.csv',error_bad_lines=False)
df[df['Global_Sales'] > 10.000]
df.head()

/home/roaa/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Q1:Which company is the most common video game publisher?

In [119]:
most_common = df['Publisher'].value_counts()
most_common

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: Publisher, Length: 578, dtype: int64

## Q2:Whatâ€™s the most common platform?

In [120]:
most_common_platform= df['Publisher'].value_counts()
most_common_platform

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: Publisher, Length: 578, dtype: int64

In [121]:
most_common_publisher = df['Platform'].value_counts().idxmax()
most_common_publisher

'DS'

## Q3:What about the most common genre?

In [122]:
most_common_genre= df['Genre'].value_counts().idxmax()
print(f" The most common genre is: {most_common_genre}")

 The most common genre is: Action

## Q4: What are the top 20 highest grossing games?

In [123]:
grossing_games=df.sort_values('Global_Sales',ascending=False)[['Name','Global_Sales']].head(20)
grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## Q5: For North American video game sales, whatâ€™s the median?

In [124]:
North_America_median= df['NA_Sales'].median()
print(f" The median is : {North_America_median}")

 The median is : 0.08

## 1- Provide a secondary output showing ten games surrounding the median sales output

In [138]:

ten_surround_median=df[(df['NA_Sales']>= df['NA_Sales'].median()-0.01) & (df['NA_Sales'] <= df['NA_Sales'].median()+0.01)].head(10)[['Name', 'NA_Sales']]
ten_surround_median

                                             Name  NA_Sales
137                             World of Warcraft      0.07
446                             Dragon Warrior IV      0.08
497   World Soccer Winning Eleven 7 International      0.08
504                             Colin McRae Rally      0.09
704                 TOCA Touring Car Championship      0.07
1353           Dragon Quest VII: Warriors of Eden      0.07
1617                       Farming Simulator 2015      0.08
1690                    Pro Evolution Soccer 2008      0.09
1926                    Pro Evolution Soccer 2008      0.08
1993                             Tales of Destiny      0.09

## Q6 :For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [141]:
standard_deviations=df['NA_Sales'].std()
mean=df['NA_Sales'].mean()
top_sell=df["NA_Sales"].iloc[0]
result=(mean+top_sell)/standard_deviations
print(f" the  number of standard diviations above/below the mean is : {result}")

 the  number of standard diviations above/below the mean is : 51.127139822725475

## Q7 : The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [150]:
Nintendo_Wii=df[df['Platform']=="Wii"].mean()
result=Nintendo_Wii.Global_Sales.mean()
print(f" The result is : {result}")

 The result is : 0.6994037735849057

/tmp/ipykernel_207217/3252615188.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Nintendo_Wii=df[df['Platform']=="Wii"].mean()

## Q8: Come up with 3 more questions that can be answered with this data set.

In [154]:
#q1  Whatis the most common NAME?
most_common_name=df[['Name']].mode()
most_common_name

                          Name
0  Need for Speed: Most Wanted

In [156]:
## q2  What is The standard devision for jp sales ?
standard_deviation_jp = df[['JP_Sales']].std()[0]
standard_deviation_jp

0.30929064808220297

In [157]:
#q3 Give  the data for  fifa 14 game?
fifa_data = df[ df['Name']=='FIFA 14' ]
fifa_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
112,113,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.32,0.07,1.73,6.90
256,257,FIFA 14,X360,2013.0,Sports,Electronic Arts,0.92,2.93,0.01,0.46,4.31
493,494,FIFA 14,PS4,2013.0,Sports,Electronic Arts,0.61,1.85,0.11,0.33,2.90
1698,1700,FIFA 14,XOne,2013.0,Sports,Electronic Arts,0.41,0.66,0.00,0.12,1.19
3988,3990,FIFA 14,PSV,2013.0,Sports,Electronic Arts,0.11,0.25,0.01,0.13,0.50
4503,4505,FIFA 14,PC,2013.0,Sports,Electronic Arts,0.01,0.36,0.00,0.06,0.43
4538,4540,FIFA 14,Wii,2013.0,Sports,Electronic Arts,0.00,0.38,0.00,0.05,0.43
6661,6663,FIFA 14,3DS,2013.0,Sports,Electronic Arts,0.00,0.23,0.00,0.03,0.25
7034,7036,FIFA 14,PSP,2013.0,Sports,Electronic Arts,0.00,0.16,0.00,0.07,0.23

## Tests

In [159]:
def test():

    def assert_equal(actual,expected):
        
        assert actual == expected, f"Expected {expected} but got {actual}"
        
        assert_equal(most_common_platform, "DS")
        assert_equal(most_common_publisher, "Electronic Arts")
        assert_equal(most_common_genre, "Action")
        
        assert_equal(grossing_games.iloc[1].Name, 'Super Mario Bros')
            
        assert_equal(grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    
        assert_equal(median, 0.08)
        
        assert_equal(fifa_data.iloc[0].Platform, 'PS3')
        assert_equal(ten_surround_median.iloc[0].Name, 'Dragon Warrior IV')
        

    print("All tests are Success!!!")

test()

All tests are Success!!!